@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- Brandon Roy, application is for an assinment as an e-commerce application-->
<p>Games* is a reatiler for pc gaming and electronics</p>

<img src="@Url.Content("~/Content/Images/companyLogo.png")" width="400" />
