@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--THis page is made for a customer to contact the business and know where its located-->
<!-- Brandon Roy, application is for an assinment as an e-commerce application-->

<address>
   1 Georgian Drive<br />
    Barrie, On<br />
    <abbr title="Phone">P:</abbr>
    7054444092
</address>

<address>
    <strong>Games*:</strong>   <a href="mailto:brandonroycstn@hotmail.com">brandonroycstn@example.com</a><br />
</address>




<img src="@Url.Content("~/Content/Images/map.png")" />


