@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
   <!--THis is the landing page for my site, it has images and a menu button to bring it to the menu page-->
   
 
</head>
<body>
    <div>

        

        <div class="jumbotron">
            <h1>The Dragon Resteraunt</h1>
            <p class="lead">Welcome to our restaurant</p>
            <p class="lead">Click the button to go to our menu page</p>
            <p><a href="Menu" class="btn btn-primary btn-lg">Menu &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/dragon.jpg")" width="1140" />
                <img src="@Url.Content("~/Content/Images/homeImage.jpg")" />
                <img src="@Url.Content("~/Content/Images/roses.jpg")" width="1140" />
                <img src="@Url.Content("~/Content/Images/golden.png")" width="1140" />
            </div>
            </div>
        </div>


</body>
</html>
