                @{
                            ViewBag.Title = "Menu";
                        }
                        <h2>@ViewBag.Title.</h2>




<!-- Brandon Roy, application is for an assinment as an e-commerce application-->

                        <div>
                            @Html.ActionLink("All Menu items", "Index", "itemsMenus")<br />

                        </div>




