
        @{
            ViewBag.Title = "Menu";
        }
        <h2>@ViewBag.Title.</h2>
      

   
<div>
    @Html.ActionLink("All Menu items", "Index", "itemsMenus")<br />

</div>

   

<!--
    @{
    //    var db = sqlDataEntities1.Open("ItemsMenu");
      //  var selectQueryString = "SELECT * FROM ItemsMenu ORDER BY Id";
    }

<html>
<body>
    I had created a table but whenever I do I get the database doesnt exist in the current context

    <h1>Items on the Menu</h1>
    <table class="grid">
        <tr>
            <th>Id</th>
            <th>Item Name</th>
            <th>item Group</th>
            <th>Price</th>
            <th>Description</th>
           
           
    </table>
</body>
</html>
   -->
 