
@{
    ViewBag.Title = "MenuItemDetails";
}

<h2>MenuItemDetails</h2>



<!--I was not able to use this page beacuase I was not able to make a table because of an error. database.open would not work-->